.tech-stack{
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    border: 2px solid white;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.tech-stack:hover {
    border-color: gold;
    box-shadow: 0 0 12px gold , 0 0 24px gold;
    transform: scale(1.1);
    cursor: pointer;
  }

  