
.home2-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
    color: white;
  }
  
  home2-content h2,
.home2-content p,
.languages-heading,
.languages-list {
  margin-bottom: 0.5rem;
}

  
  .purple {
    color: purple;
  }
  
  .languages-heading {
    color: white; 
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .languages-list {
    font-size: 1.1rem;
    font-weight: 500;
   
  }
  .connect-heading {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .title1{
    font-size: 1.75rem;  
    font-weight: 600;
    margin-bottom: 1rem;
  }